@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
@plugin "daisyui" {
      themes: light --preferlight;
}

@plugin "daisyui/theme" {
      name: "light";
      default: true;
      --color-accent: #f9a51a;
}

input::placeholder {
      color: #ffffff;
}

.primary-font {
      font-family: "Bebas Neue", sans-serif;
}

.secondary-font {
      font-family: "Montserrat", sans-serif;
}

.active {
      background: var(--color-accent);
      color: #000000;
      padding: 12px 24px;
      border-radius: 5px;
}

.hero {
      position: relative;
      overflow: hidden;
}

.hero::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.6); /* Black overlay */
}

.swiper {
      height: 100vh;
      width: 100%;
}

.swiper-slide {
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
}

.swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
}

.slider-text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
}

.slider-text h1 {
      position: absolute;
      top: 35%;
      left: 5%;
      color: #fff;
      font-size: 6rem;
      text-transform: uppercase;
      font-weight: 700;
      font-family: "Bebas Neue", sans-serif;
}

.slider-text p {
      width: 50%;
      position: absolute;
      top: 52%;
      left: 5%;
      color: #fff;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      text-align: left;
}
